:root {
  --rowNum: 16;
  --colNum: 16;
  --color: white;
  --brightness: 1;
}

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(35, 44%, 92%);
}

#container {
  width: 600px;
  height: 600px;
  display: grid;
  grid-gap: 0;
  margin: 0 auto 80px auto;
  grid-template-rows: repeat(var(--rowNum), 1fr);
  grid-template-columns: repeat(var(--colNum), 1fr);
  background-color: white;
}

#menu {
  margin: 40px auto;
  width: 600px;
}

button {
  font-size: 17px;
  background-color: hsl(34, 57%, 70%);
  color: rgb(65, 57, 60);
  width: auto;
  padding: 10px;
}

button:hover {
  background-color:#dbbaba;
}

.squareColor {
  background-color: white;
  filter: brightness(var(--brightness));
}
